.img-circle {
  width: 150px;
  height: 150px;
}

.main-container {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(0deg, #fff 50%, #F4F4F4 50%);
}

h3 {
  font-size: 17px;
  font-weight: bold;
  color: rgba(0,0,0,0.6);
}

.a {
  font-size: 15px;
  color: #bfbfbf;
}

i {
  margin: 0px 8px;
}

